.hero {
  height: 300px;
  background-image: url("../images/image-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.pt_map-container {
  min-height: 500px;
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pt_contact-infos {
  padding-left: inherit;
  padding-right: inherit;
}
@media (max-width: 767px) {
  .style-1 {
    width: 100% !important;
  }
}
